@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* "image-color":"var(--image-color)",
    "video-color":"var(--video-color)",
    "audio-color":"var(--audio-color)",
    "document-color":"var(--document-color)",
    "pdf-color":"var(--pdf-color)",
    "xls-color":"var(--xls-color)",
    "ppt-color":"var(--ppt-color)",
    "txt-color":"var(--txt-color)",
    "zip-color":"var(--zip-color)",
    "doc-color":"var(--doc-color)", */
  --primary-color: #4b81f7;
  --secondary-color: #4bf76e;
  --third-color: #332F89;
  --dark-primary-color: #514bf7;
  --primary-text-color: #8a8a8a;
  --image-color: #6dff5a7e;
  --video-color: #802cff7e;
  --audio-color: #fda1447e;
  --document-color: #d44f037e;
  --pdf-color: #ff76767e;
  --xls-color: #13c2007e;
  --ppt-color: #fba3267e;
  --txt-color: #123fbd7e;
  --zip-color: #1600707e;
  --doc-color: #f5f5f57e;
}
/* Global CSS */
/* html {
  scrollbar-gutter: stable;
} */

@layer components {
  .pretty-text-small{
    @apply text-lg mt-4 text-slate-600;
  }
}
tbody tr {
  height: 70px !important;
}

.boujee-text {
    --bg-size: 400%;
    --color-one: #4F46E5;
    --color-two: #4bf76e;
    background: linear-gradient(
        90deg,
        var(--color-one),
        var(--color-two),
        var(--color-one)
      )
      0 0 / var(--bg-size) 100%;
    color: transparent;
    background-clip: text;
  }
  
  @media (prefers-reduced-motion: no-preference) {
    .boujee-text {
      animation: move-bg 8s linear infinite;
    }
    @keyframes move-bg {
      to {
        background-position: var(--bg-size) 0;
      }
    }
  }
  