@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* "image-color":"var(--image-color)",
    "video-color":"var(--video-color)",
    "audio-color":"var(--audio-color)",
    "document-color":"var(--document-color)",
    "pdf-color":"var(--pdf-color)",
    "xls-color":"var(--xls-color)",
    "ppt-color":"var(--ppt-color)",
    "txt-color":"var(--txt-color)",
    "zip-color":"var(--zip-color)",
    "doc-color":"var(--doc-color)", */
  --primary-color: #0164ff;
  --primary-forground-color: #2b7cff;
  --secondary-color: #a855f7;
  --third-color: #332f89;
  --dark-primary-color: #514bf7;
  --primary-text-color: #8a8a8a;
  --image-color: #6dff5a7e;
  --video-color: #802cff7e;
  --audio-color: #fda1447e;
  --document-color: #d44f037e;
  --pdf-color: #ff76767e;
  --xls-color: #13c2007e;
  --ppt-color: #fba3267e;
  --txt-color: #123fbd7e;
  --zip-color: #1600707e;
  --doc-color: #f5f5f57e;
}
/* Global CSS */
/* html {
  scrollbar-gutter: stable;
} */

@layer components {
  .pretty-text-small {
    @apply text-lg mt-4 text-slate-600;
  }
}
/*Hide the scroll bar*/
html {
  scrollbar-width: none;
  scroll-behavior: smooth;
}

.hide-scroll-bar::-webkit-scrollbar {
  display: none;
}

tbody tr {
  height: 70px !important;
}

.boujee-text {
  --bg-size: 400%;
  background: linear-gradient(
      90deg,
      var(--primary-color),
      var(--secondary-color),
      var(--primary-color)
    )
    0 0 / var(--bg-size) 100%;
  color: transparent;
  background-clip: text;
}

@media (prefers-reduced-motion: no-preference) {
  .boujee-text {
    animation: move-bg 8s linear infinite;
  }
  @keyframes move-bg {
    from {
      background-position: var(--bg-size) 0;
    }
    to {
      background-position: 0 0;
    }
  }
}

.fade-in {
  animation: fadeIn 0.5s;
}
.text-responsive {
  @apply text-sm md:text-base xl:text-lg 2xl:text-2xl;
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
